html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgb(44, 55, 211);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-elem {
  color: rgb(236, 233, 228);
  background-color: rgb(219, 158, 44);
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
}

.root {
  padding: 10px;
  margin: 20px;
}